*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins Black';
}

.container {
    text-align: center;
}

.container h1 {
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 50px;
}

.container input {
    padding: 5px;
    width: 380px;
    margin-bottom: 70px;
    background-color: rgb(184, 182, 182);
    border: none;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
}

input::placeholder {
    color: black;
    font-family: 'Poppins Thin';
    
}
.tudo{
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 15px;
   
}

.todo__list{
    margin-top: 30px;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 50px;  
}
   
.todo__item{
    display: flex; 
    width: 610px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;  
    background-color: #76ff00; 
    border-radius: 10px;
    margin-top: 20px;
}
.todo__item > div{
    width: 80%;
}
.todo__item > input[type='button'],
.todo__item > input[type='checkbox']{
    width: 30px;
    height: 30px;
    font: inherit;
}
.todo__item > input[type='checkbox']:checked  + div {
    text-decoration:line-through;
}

p{
    font-size: 10px;
    margin-top: 200px;
}

@media screen and (max-width: 700px){
    .container h1{
        font-size: 60px;
        font-weight: bolder;
    }

    .todo__item{
        width: 350px;
    }
}

@media screen and (max-width: 500px){
    .container input{
        width: 300px;
    }
}